<TABLE class=master style="FONT-FAMILY: arial, helvetica, sans-serif; WIDTH: 1200px; COLOR: #444444; MARGIN: auto; LINE-HEIGHT: 1.2" cellSpacing=0 cellPadding=0 width=100 align=center border=0>
    <TBODY>
     
            <tr>
                <th style="padding: 20px 0px 20px 30px; text-align: center; background-color: rgb(142, 177, 182);" bgcolor="8EB1B6" width="1500" height="50">
                    <span style="color: rgb(255, 255, 255); font-size: 30px;">Reporte de Gestión Carterizado - Cobranza Corporativa</span>
                </th>
            </tr>

    <TR bgColor=#f2f2f2>
    <TH style="PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px"></TH>
    </TR>
    <TR bgColor=#f2f2f2>
                <th
                    align="justify"
                    style="
                        text-align: justify;
                        font-size: 16px;
                        font-family: Arial, Helvetica, sans-serif;
                        color: #000000;
                        font-weight: 500;
                        padding: 0 30px;"
                    class=""
                >
                <p style="text-align: start;color: rgb(36, 36, 36);font-size: 16px;"><strong>Chicos.<span id="MesLetras"></span></strong></p>
<p><span style="text-align: start;color: rgb(36, 36, 36);font-size: 16px;">Adjunto reporte de gestión de cobranzas, SE SOLICITA LO SIGUIENTE:</span></p>
<p><span style="text-align: start;color: rgb(36, 36, 36);font-size: 16px;">En link adjunto se encuentra el archivo de gestión YYYYMMDD_Deuda_Carterizado_Gestión.xlsx</span></p>
<p><span style="text-align: start;color: rgb(36, 36, 36);font-size: 16px;"><strong style="text-align: start;color: rgb(18, 82, 111);font-size: 16px;">{{var2}}</strong><br></span></p>

<p><span style="text-align: start;color: rgb(36, 36, 36);font-size: 16px;"><strong>CLIENTES CARTERIZADOS</strong></span></p>
<ul>
    <li><span style="text-align: start;color: rgb(36, 36, 36);font-size: 16px;"><strong>ESTADO (Columna R):</strong> [Alineamiento] - [Ajuste] - [Carta] - [Pago] - [EECC/Gestión] - [Judicial] - [Sin deuda/ deuda corriente] - [No asignado] - [Cambio de Titularidad]</span></li>
    <li><span style="text-align: start;color: rgb(36, 36, 36);font-size: 16px;"><strong>OBSERVACIÓN (Columna S):</strong> [Sin respuesta] - [cliente retirado] - [Envio EECC] - [Envio EECC y Recibos] - [Fecha de compromiso de pago] - [Caso Postventa] - [En alineación] - [deuda] - [Corta llamada] - [Enviado Mensual] - [Enviado Carta Mensual y reconocimiento] - [Validación de pago] - [Enviar Carta mesa de partes] - [Revisión Cobranzas] - [Reclasificación de pago] - [seguimiento]</span></li>
    <li><span style="text-align: start;color: rgb(36, 36, 36);font-size: 16px;"><strong>DETALLE DE OBSERVACIÓN (Columna T):</strong></span></li>
    <li><span style="text-align: start;color: rgb(36, 36, 36);font-size: 16px;"><strong>ACCIONES {{var1}} (Columna U):</strong></span></li>
    <li><span style="text-align: start;color: rgb(36, 36, 36);font-size: 16px;"><strong>DETALLE DE ACCIÓN {{var1}} (Columna V):</strong></span></li>
</ul>

<p><span style="text-align: start;color: rgb(36, 36, 36);font-size: 16px;">Estos comentarios serán enviados a Orlando Medina de manera semanal, por lo que se requiere estos datos para el {{var1}}.</span></p>

            </tr>
                </th>
 <!-------------------------------------------------------------------TABLA NUMERO1 --------------------------------------------------------------------------------->            

            <tr>
                <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th>
            </tr>
            <tr bgcolor="#f2f2f2">
                <th class="" style="text-align: justify; font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #000000;
                font-weight: 1500; padding: 0 30px;" align="justify"><strong>Resumen Deuda Carterizada por Tramo</br></strong>
                </th>
            </tr>
            <tr> <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th> </tr>
            <tr>
            <th bgcolor="#f2f2f2">
            <table class="radius" style="border-radius:10px 10px 0 0; margin: 0 32px;" border="0" width="1100" cellspacing="0" cellpadding="0" bgcolor="#5B7980">
            <tbody>
                <tr> <th style="width: 120px;" width="120"> <table  border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody> <tr>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 100px;"><strong><font color="#FFFFFF">Gestor</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">1. Por vencer</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">2. 1 a 30</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">3. 31 a 60</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">4. 61 a 90</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">5. 91 a 120</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">6. 121 a 150</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">7. 151 a 210</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">8. 211 a 364</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">9. 365 a mas</font></strong></td>
                <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Deuda Total</font></strong></td>

           
            </tr>
            </tbody>
            </table>
            </th>
            </tr> </tbody> </table> </th> </tr> <tr>
            <th bgcolor="#f2f2f2"> <table class="radius" style="border-radius:0 0 10px 10px; margin: 0 32px;" border="0" width="1100" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
            <tbody> <tr> <th style="width: 120px;" width="120"> <table border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody>
                {% for index , row in data1.iterrows() %}
                <tr><td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 100px;">{{row["GESTOR"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["1. Por vencer"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["2. 1 a 30"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["3. 31 a 60"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["4. 61 a 90"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["5. 91 a 120"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["6. 121 a 150"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["7. 151 a 210"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["8. 211 a 364"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["9. 365 a mas"]}}</td>
                    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["DEUDA_SOLES"]}}</td>

                    </tr>
                {% endfor %}
                </tbody></table></th></tr></tbody></table></th></tr>
                <th style="padding: 10px;" bgcolor="#f2f2f2">&nbsp;</th>
                 <!-------------------------------------------------------------------TABLA NUMERO1 --------------------------------------------------------------------------------->            
 <!-------------------------------------------------------------------TABLA NUMERO1 --------------------------------------------------------------------------------->            

  <!-------------------------------------------------------------------TABLA NUMERO1 --------------------------------------------------------------------------------->            

  <tr>
    <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th>
</tr>
<tr bgcolor="#f2f2f2">
    <th class="" style="text-align: justify; font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #000000;
    font-weight: 1500; padding: 0 30px;" align="justify"><strong>Resumen Clientes Carterizados por Tramo</br></strong>
    </th>
</tr>
<tr> <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th> </tr>
<tr>
<th bgcolor="#f2f2f2">
<table class="radius" style="border-radius:10px 10px 0 0; margin: 0 32px;" border="0" width="1100" cellspacing="0" cellpadding="0" bgcolor="#5B7980">
<tbody>
    <tr> <th style="width: 120px;" width="120"> <table  border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody> <tr>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 100px;"><strong><font color="#FFFFFF">Gestor</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">1. Por vencer</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">2. 1 a 30</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">3. 31 a 60</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">4. 61 a 90</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">5. 91 a 120</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">6. 121 a 150</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">7. 151 a 210</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">8. 211 a 364</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">9. 365 a mas</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Clientes Total</font></strong></td>


</tr>
</tbody>
</table>
</th>
</tr> </tbody> </table> </th> </tr> <tr>
<th bgcolor="#f2f2f2"> <table class="radius" style="border-radius:0 0 10px 10px; margin: 0 32px;" border="0" width="1100" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody> <tr> <th style="width: 120px;" width="120"> <table border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody>
    {% for index , row in data2.iterrows() %}
    <tr><td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 100px;">{{row["GESTOR"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["1. Por vencer"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["2. 1 a 30"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["3. 31 a 60"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["4. 61 a 90"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["5. 91 a 120"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["6. 121 a 150"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["7. 151 a 210"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["8. 211 a 364"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["9. 365 a mas"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["RUC"]}}</td>

        </tr>
    {% endfor %}
    </tbody></table></th></tr></tbody></table></th></tr>
    <th style="padding: 10px;" bgcolor="#f2f2f2">&nbsp;</th>
     <!-------------------------------------------------------------------TABLA NUMERO1 --------------------------------------------------------------------------------->            
<!-------------------------------------------------------------------TABLA NUMERO1 --------------------------------------------------------------------------------->            

               
     
                           
     
                <TR bgColor=#f2f2f2>
                    <TH style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: 900; COLOR: #000000; PADDING-BOTTOM: 0px; TEXT-ALIGN: justify; PADDING-TOP: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px">
                    </TH>
                </TR>
                    <TR>
                    <TH style="PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" bgColor=#f2f2f2>
                    </TH>
                </TR>
               
                   <TR>
                    <TH bgColor=#f2f2f2>
                    <TABLE style="BACKGROUND: #ffffff; PADDING-TOP: 0px" cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                    <TR>
                    <TH align=center>
                    <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                    <TR>
                    <TH style="FONT-SIZE: 13px; FONT-FAMILY: arial, helvetica, sans-serif; FONT-WEIGHT: 500; COLOR: #ffffff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px" bgColor=#abafb0 align=center>Cualquier cosulta, quedo atento </TH></TR>
                    <TR>
                    <TH style="FONT-FAMILY: Arial,Helvetica,sans-serif; BACKGROUND: white; PADDING-BOTTOM: 15px; TEXT-ALIGN: justify; PADDING-TOP: 5px"></TH></TR></TBODY></TABLE></TH></TR></TBODY></TABLE></TH></TR></TBODY></TABLE>
                   